
<div >
    <ngx-datatable
    
      [rows]="rows"
      [columns]="columns"
      [rowHeight]="getRowHeight"
      [columnMode]="'force'"
      
      [footerHeight]="50"
      class="material"
      
      [headerHeight]="50"
      [scrollbarV]="false"  
      
      
      (activate)="onSelect($event)"
      
      
      >
      <ngx-datatable-column name="Codigo"  >
      </ngx-datatable-column>
      <ngx-datatable-column name="Descripcion" ></ngx-datatable-column>
      <ngx-datatable-column name="Aplicacion" ></ngx-datatable-column>
      <ngx-datatable-column name="Tipo" ></ngx-datatable-column>
      <ngx-datatable-column name="Estado" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value | estadoTarea}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Fecha Alta" ></ngx-datatable-column>  
      <ngx-datatable-column name="Usuario" ></ngx-datatable-column>
      <ngx-datatable-column name="Despliegue" ></ngx-datatable-column>  
      <ngx-datatable-column name="" >
        <ng-template #deleteBtn let-row="row"  ngx-datatable-cell-template>
          <div (click)="onDelete(row)" class="d-flex justify-content-center btn btn-sm btn-outline-secondary">Delete<i class="fa fa-trash"></i></div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" >   
        <ng-template #deleteBtn let-row="row"  ngx-datatable-cell-template>
          <div (click)="print(row)" class="d-flex justify-content-center btn btn-sm btn-outline-secondary">Print<i class="fa fa-trash"></i></div>
        </ng-template>
      </ngx-datatable-column> 
      </ngx-datatable>
  </div>


